// SPDX-FileCopyrightText: 2021- Henk Rijneveld <henk@henkrijneveld.nl>
// SPDX-License-Identifier: MIT

.buttonbar {
  input:hover {
    cursor: pointer;
  }
  .buttonbar-title {
    font-size: smaller;
  }
}
