.histogram {
  padding-left: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-left: 15px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;

  canvas {
    border: solid 1px #999;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E');
    width: 100%;
  }
  input {
    margin-bottom: 10px;
  }
}
