# local overrides for raspigemcam

# definition of previewstream quality
quality 30

# but... can I use the paths relatively to the basepath? Why else should it be there
# check on the pi to test this
#base_path /var/www/gemcam
#image_path /var/www/gemcam/media/im_%i.jpg
#lapse_path /var/www/gemcam/media/tl_%i.jpg
#video_path /var/www/gemcam/media/vi_%v.mp4
#status_file /dev/shm/gemcam/status_mjpeg.txt
#control_file /var/www/gemcam/system/FIFO
#media_path /var/www/gemcam/media
#macros_path /var/www/gemcam/macros
#log_file /var/www/gemcam/scheduleLog.txt


